# =============================================================================
# DEPRECATION WARNING:
#
# The file `requirements.txt` does not influence the package dependencies and
# will not be automatically created in the next version of PyScaffold (v4.x).
#
# Please have look at the docs for better alternatives
# (`Dependency Management` section).
# =============================================================================
#
# Add your pinned requirements so that they can be easily installed with:
# pip install -r requirements.txt
# Remember to also add them in setup.cfg but unpinned.
# Example:
# numpy==1.13.3
# scipy==1.0
pytest==4.3.1
pytest-cov==2.6.1
pillow==6.2.1
enum34==1.1.6
pyyaml==5.1
pandas==0.24.2
scipy==1.2.1
requests==2.22.0
filetype==1.0.5
future==0.18.2
